{% load i18n %} {% if not tickets %}
<div
  class="py-60 bg-lightest border h-full rounded-xl flex flex-col flex-grow justify-center items-center gap-2"
>
  <span class="p-4 rounded-full bg-accent text-3xl text-tertiary">
    <i class="fa-solid fa-inbox"></i>
  </span>
  <p class="text-sm text-muted">{% blocktrans trimmed %} No {{model_verbose_name}} Was Found {% endblocktrans %}</p>
</div>

{% else %}
<!-- Mobile view -->
<div class="lg:hidden w-full grid grid-cols-1 md:grid-cols-2 gap-4">
  {% for obj in tickets %} {% include 'support/ticket/_list_card.html' %}
  <!--  -->
  {% endfor %}
</div>
<!-- Desktop / Tablet view -->
<div class="hidden w-full lg:grid grid-cols-1 gap-2">
  {% for obj in tickets %} {% include 'support/ticket/_list_card_htmx.html' %}
  <!--  -->
  {% endfor %}
</div>
{% endif %}
