<div
  class="relative inline-block import-wrapper w-full"
  data-app="{{ model_app}}"
  data-model="{{ model_name}}"
>
  
  <button
    type="button"
    class="import-toggle btn hover-text-secondary w-full rounded-none inline-flex items-center gap-2"
  >
    <i class="fa-solid fa-file-import"></i>
    {% trans "Import" %}
  </button>


  <form
    method="post"
    enctype="multipart/form-data"
    action="{% url 'base:import-data' model_app model_name %}"
    class="import-form hidden absolute md:right-0 mt-2 w-80 bg-lightest border rounded-xl shadow-lg p-4 flex flex-col gap-3"
  >
    {% csrf_token %}
    <div class="flex flex-col items-start field" id="field_import">
      <label class="block text-sm font-medium mb-2"
        >{% trans "Choose a file in CSV format" %}</label
      >
      <input
        type="file"
        name="import_file"
        accept=".csv"
        required
        class="form-field"
      />
    </div>

    <button type="submit" class="btn btn-primary w-full">
      {% trans "Import Now" %}
    </button>
  </form>
</div>
