{% load static i18n permission_tags  %} 
<!--  -->
{% if value %}
<div class="w-full max-w-40 bg-gray-200 rounded-md relative overflow-hidden">
  <!-- Progress Bar -->
  <div class="py-3 rounded-md  
    {% if value >= 100 %}
      bg-green-400 w-full
    {% elif value >= 70 %}
      bg-green-400 w-4/5
    {% elif value >= 50 %}
      bg-yellow-400 w-1/2
    {% elif value >= 20 %}
      bg-sky-400 w-1/4
    {% elif value >= 10 %}
      bg-red-400 w-1/6
    {% else %}
      bg-gray-400 w-0
    {% endif %}
  ">
    <!-- Text inside the progress bar -->
    <span class="absolute inset-0 flex items-center justify-center text-black text-xs font-semibol">
      {% if value >= 90 %}
        90 - 100 (%)
      {% elif value >= 70 %}
        70 - 89 (%)
      {% elif value >= 50 %}
        50 - 69 (%)
      {% elif value >= 20 %}
        20 - 49 (%)
      {% elif value >= 10 %}
        10 - 19 (%)
      {% else %}
        0 - 9 (%)
      {% endif %}
    </span>
  </div>
</div>
